/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    /* hyphens: auto; */
  }
  #root, #__next {
    isolation: isolate;
  }

/*////////////////////
///////////////////*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
  font-family: 'Cabin Sketch', sans-serif;
}

.title {
  font-size: 6rem;
  line-height: 6rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 5rem;
}

.subsubtitle {
  font-size: .75rem;
  margin-bottom: 3rem;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    visibility: collapse;
    border: 1px solid white;
}

.grid {
    border: 1px solid black;
}

button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: white;
  padding: 20px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: green;
  border: 1px green solid;
  color: white;
  box-shadow: 2px 2px 5px 5px #D33E2E, -2px -2px 5px 5px #D33E2E;

}